/*------------------------------------------------------*
*-- CSS Drupal--------------*
*------------------------------------------------------*/

/*------------------------------------------------*
 *---  Provence Formation Janv. 2010 --*
 *------------------------------------------------*/

/**********STYLE POUR LES BLOCS*******************/
/*------- EFFETS VISUELS GENERIQUES--------------*/
.ombrage {
    border: 5px solid #fff;
    -moz-box-shadow: 8px 8px 12px #aaa;
    -webkit-box-shadow: 8px 8px 12px #aaa;
    box-shadow: 8px 8px 12px #555;
}
.ombrage_bas {

    -moz-box-shadow: 2px 2px 5px #aaa;
    -webkit-box-shadow: 2px 2px 5px #aaa;
    box-shadow: 2px 2px 5px #555;
}
.table_tr_ombrage_bas{
    -moz-box-shadow: 1px 2px 2px #aaa;
    -webkit-box-shadow: 1px 2px 2px #aaa;
    box-shadow: 1px 2px 2px #555;
}
.ombrage_bloc {

    -moz-box-shadow: 2px 2px 5px #aaa;
    -webkit-box-shadow: 2px 2px 5px #aaa;
    box-shadow: 2px 2px 5px #555;
}
.ombrage_bas_table_actu{
    -moz-box-shadow: 2px 2px 5px #aaa;
    -webkit-box-shadow: 2px 2px 5px #aaa;
    box-shadow: 2px 2px 5px #555;
}

/*------- COULEURS DE BASE POUR CSS---------------∕∕
rouge #E2001A
rose #E2007A
orange #F29400
bleu #00AAD2
vert #C8D215
jaune #F8E91B
violet #93117E
gris clair #9C9E9F
gris fonce #606171
orange fonce logo #DE603A
∕∕------- FIN COULEURS ---------------*/
/**----HEADER---***/


/**----MIDDLE---***/
a#retour_haut{
    display: none;
    color: #AEC721;
    text-decoration: none;
    text-align: right;
    float:right;
}
a:hover#retour_haut{
    text-decoration: underline;
}
p{
    padding: 2px 0;
    margin: 0;
}

#middle-content-sortie-actions p, ul{
    padding: 5px;
    margin: 0;
}
#middle-content-sortie-actions h3{
    color: #11B0D5;
    padding: 2px;
}
#middle-content-sortie-actions h2{
   text-align: center;
   color: #11B0D5;
}
#middle-content-sortie-actions h4{
    color: #94127F;
    padding: 2px;
    text-indent: 3px;
}
#middle-content-sortie-actions a{
    color: #11B0D5;
    text-decoration: none;
    padding: 2px;
    text-indent: 3px;
}
#middle-content-sortie-actions a:hover{
    color: white;
    background: #11B0D5;
   }
/*_________________________________
 ****  NDE.TPL CUSTOM SORTIE ****
----------------------------------*/
#docs-joints-vdl{width: 210px;margin: 20px auto;padding: 10px;background: #CFD0D2;display: block;}
#docs-joints-vdl h3{text-align: center;color: #E3007C;}
#fiche-action-vdl a,#fichier-joint-vdl a{color: #11B0D5;padding: 2px;text-decoration: none;text-indent: 3px;}
#fiche-action-vdl a:hover,#fichier-joint-vdl a:hover{background:#11B0D5;color:white;}
#video-embed-vdl{margin: 0 auto;padding: 2px;width: 425px;border: 2px solid #11B0D5;}
/*TABLES STYLES DIVERS*/
.table_generik{
    border: 0px solid black;
    width: 95%;
}
.table_generik tr{
    border: 0px solid black;
}
.table_generik tr.ligne_1{
    background: transparent;
    color: black;
}
.table_generik tr.ligne_2{
   background: #ADC91F;
   color: white;
}
.table_generik td{
    border: 0px solid black;
   
}
#table_frais{
    border: 0;
    width: 100%;
}
tr.tf_line_1{
    color: white;
    background: #01AAD3;
}
tr.tf_line_2{
    color: #E85231;
    background: white;
}
/*style lien en savoir plus*/
li.node_read_more a{
color : red;
text-decoration: none;
text-align:left;
}
li.node_read_more a:hover{
text-decoration: underline;
}


/****------formulaire contact/////////*/
#contact-mail-page{
margin: auto;
width: 550px;
padding: 0;
}

/**----CONTENT TOP---***/
#content-header{
padding: 5px;
}
/**style du fil d'ariane**/
.breadcrumb {
color:#d63e2a;
text-decoration:none;
}
##ariane{
    display: block;
    width: auto;
background: white;
}

.breadcrumb a{
color:#4e4d5e;
text-decoration:none;
background: white;
}
.breadcrumb a:hover{
color:#000;
text-decoration:underline;
}

.image-photo-jeunes{
    vertical-align: bottom;
    margin: 0;
    padding: 0;
}
/**----CONTENT BOTTOM---***/
#content-top{}
.taxonomy{
text-align:right;
padding: 3px;
margin: 0px;
}
.taxonomy a{
color: #d63e2a;
text-decoration:none;
}
.taxonomy a:hover{
text-decoration:underline;
}
/*----page login------*/
#user-login{
margin: auto;
width: 450px;
padding:10px 0;
}
/**----COLONNE GAUCHE---***/
#left-content p{
	color:#000;

}
#left-content a{
	
	text-decoration:none;
}
#left-content a:hover{
	color:#990000;
	text-decoration:underline;
}
#left-content li{
	margin:0;
	padding: 0;
	}
/**----COLONNE DROITE---***/
#right-content p{
	color:#000;

}
#right-content a{
	color:#666666;
	text-decoration:none;
}
#right-content a:hover{
	color:#990000;
	text-decoration:underline;
}
#right-content li{
	margin:0;
	padding: 0;
	list-style:none;
}
/*___BASE 2 COL____*/
#middle-content-base2col a{
    color: #11B0D5;
    text-decoration: none;
}
#middle-content-base2col a:hover{
   text-decoration: underline;
}
/*STYLE PAGE LYCEE*/
.table-formation, #table-acces{
    width: 320px;
    border: 0;
    text-align:right;
}
.table-formation .diplome, #table-acces tr.transport{
    text-transform: capitalize;
    color: black;
    font-weight: bold;
    border-bottom: 1px dotted gray;
    text-align:left;

}
.transport-detail{}
.views-field-diplome a{
     color: gray;
      text-decoration: none;
}
.views-field-diplome a:hover{
   text-decoration: underline;
}
.pageLycee strong{
    color: #E2017B;
}
/*STYLE PAGE FORMATIONS INITIALES ARBRE*/
#table-offre-formation, #table-offre-formation tbody{
    width: 953px !important;
    height: 491px !important;
    border: 0;
    border-collapse:collapse;
    margin: 0;
    padding: 0;
    line-height: 0;
   /* vertical-align: bottom;*/
}

#table-offre-formation tr{
    width: 953px;
    height: auto;
    border: 0;
     line-height: 0;
     margin: 0;
    padding: 0;
}
#table-offre-formation td{
    width: auto;
    height: auto;
    border: 0;
     line-height: 0;
     margin: 0;
    padding: 0;
}
#table-offre-formation img{
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 0;
}
/************************/
/*STYLE FICHE FORMATION*/
#middle-content-fiche-formations h2{
     color: #11B0D5;
     font-size: 14px;
}
#middle-content-fiche-formations h3{
     font-size: 12px;
     color: #93117E;
}
#middle-content-fiche-formations ul{
    list-style: square;
}
#middle-content-fiche-formations a{
    color: #93117E;
    text-decoration: none;
}
#middle-content-fiche-formations a:hover{
    background:transparent;
    color: #11B0D5;
    text-decoration: underline;
}
/*STYLE PAGE ACTUALITE*/
#left-content-actualites a{
    text-decoration: none;
   
}
#left-content-actualites a:hover{
    text-decoration: underline;
    color: #11B0D5;
}
#middle-content-actualites a{
   /* color: #d63e2a;*/
    text-decoration: none;
    /*font-weight: bold;*/
}
#middle-content-actualites a:hover{
    text-decoration: underline;
}
#actualite-association ul li{
   list-style: square;
}
#actualite-association a{
    text-decoration: underline;
    color: black;
    padding: 2px;
}
#actualite-association a:hover{
    text-decoration: underline;
    color: white;
    background: #11B0D5;
}
#right-content-actualites a{
    text-decoration: none;
   
}
#right-content-actualites a:hover{
     text-decoration: underline;
    color: #11B0D5;
}
.view-liste-projets .views-row, .view-liste-sortie-action .views-row{
    border-bottom: 1px solid #11B0D5;
    margin:0 0 5px;
}
.view-liste-innovations a{
    text-decoration: underline;
    color: black;
    padding: 2px;
}
.lien_archive{
	 float: right;
	 color: #E2017B;
	 text-decoration: underline;
	 }
/*--------------------------------------
**** PAGE ACTU REDESIGN - AFFICHE ******
_________________________________________*/
#last-sortie,#last-projets,#last-innovation,#last-rp,#last-annonce{width: 198px;float: left;}
#last-sortie .views-field-nothing{color: #95127C;font-weight: bold;}
#last-sortie img{border: 3px solid #95127C;}
#last-sortie .views-field-teaser{}

#other-sortie, #other-projets,#other-innovations,#other-rp,#other-annonce{width: 180px;float: left;margin: 0 4px;padding: 0 2px;}
#other-sortie{border: 3px solid #95127C;}
#other-sortie a{color: #4e4d5e;font-size: 11px;padding: 0 5px;}
#other-sortie a:hover{color: #95127C;}
#other-sortie .view-footer a{background: #95127C;color: white;text-align: center;display: block;width: 100px;margin: 0 auto;}
#other-sortie .view-footer a:hover{text-decoration: underline;}

#last-projets .views-field-nothing{color: #E3007C;font-weight: bold;}
#last-projets img{border: 3px solid #E3007C;}
#last-projets .views-field-teaser{}

#other-projets{border: 3px solid #E2017B;}
#other-projets a{color: #4e4d5e;font-size: 11px;padding: 0 5px;}
#other-projets a:hover{color: #E2017B;}
#other-projets .view-footer a{background:#E2017B;color: white;text-align: center;display: block;width: 100px;margin: 0 auto;}
#other-projets .view-footer a:hover{text-decoration: underline;}

#last-innovation .views-field-nothing{color: #E85231;font-weight: bold;}
#last-innovation img{border: 3px solid #E85231;}
#last-innovation .views-field-teaser{}

#other-innovations{border: 3px solid #E34F31;}
#other-innovations ul li {list-style: outside;}
#other-innovations a{color: #4e4d5e;font-size: 11px;padding: 0 5px;}
#other-innovations a:hover{color: #E34F31;}
#other-innovations .view-footer a{background:#E34F31;color:white;text-align: center;display: block;width: 100px;margin: 2px auto;}
#other-innovations .view-footer a:hover{text-decoration: underline;}

#last-rp .views-field-nothing{color: #ACC624;font-weight: bold;}
#last-rp img{border: 3px solid #ACC624;}
#last-rp .views-field-teaser{}

#other-rp{border: 3px solid #ACC624;}
#other-rp ul li {list-style: outside;}
#other-rp a{color: #4e4d5e;font-size: 11px;padding: 0 5px;}
#other-rp a:hover{color: #ACC624;}
#other-rp .view-footer a{background:#ACC624;color:white;text-align: center;display: block;width: 100px;margin: 2px auto;}
#other-rp .view-footer a:hover{text-decoration: underline;}

#last-annonce .views-field-nothing{color: #11B0D5;font-weight: bold;}
#last-annonce img{border: 3px solid #11B0D5;}
#last-annonce .views-field-teaser{}

#other-annonce{border: 3px solid #11B0D5;}
#other-annonce ul li {list-style: outside;}
#other-annonce a{color: #4e4d5e;font-size: 11px;padding: 0 5px;}
#other-annonce a:hover{color: #ACC624;}
#other-annonce .view-footer a{background:#11B0D5;color:white;text-align: center;display: block;width: 100px;margin: 2px auto;}
#other-annonce .view-footer a:hover{text-decoration: underline;}
/*RSS site PF*/
#block-aggregator-feed-1{border: 2px solid #AEC81F;background: #CFD0D2;padding: 3px;margin: 9px auto;width: 600px;text-align: center;}
#block-aggregator-feed-1 h3{color: #E2017B;}
#block-aggregator-feed-1 a{color: #4e4d5e;}
#block-aggregator-feed-1 a:hover{color: #11B0D5;}
#block-aggregator-feed-1 ul{}
#block-aggregator-feed-1 li{list-style: none;}
/*PAGES ACTIVITE VIE DU LYCEE*/
.item-list-activites{
    margin: 0;
}
.item-list-activites h3{
    color: #11B0D5;
    padding:5px;
    text-align:center;
    font-size: 13px;
}
.item-list-activites a{
    color: black;
    text-decoration: none;
}
.item-list-activites a:hover{
    color: black;
    text-decoration: underline;
}
.item-list-activites ul{
    list-style: none;
}
.item-list-activites li{
    list-style: none;
    background: #EFEFEF;
    padding: 3px;
    margin:0 3px 3px;
}
.item-list-activites .views-field-title a{
    font-weight: bold;
    text-transform: capitalize;
    color: #E7512F;
}
.view-liste-activites-lycee a.field-content{
    color: red;
}
.field-field-video-externe{
    margin: 0 auto;
    padding: 0;
    width:425px;
}
/*PAGE NODE MONDE PRO*/
#table-fichiers{
    border: 0;
    width: 90%;
    margin: 0 auto;
}

#table-fichiers tr{}

#table-fichiers td{}

#table-fichiers a{
    color: #E30078;
    text-decoration: none;
}

#table-fichiers a:hover{
    background: #E30078;
    color: white;
}

#middle-content-pageMondePro a{}
#middle-content-pageMondePro a:hover{}

/*-------------
Liste filtree argument*/
#liste_filtre ul {
    list-style: circle outside none;
    margin: 0 0 0 15px;
}
#liste_filtre ul li{
    list-style: inherit;
}
#liste_filtre .views-field-title a{
    color: #11B0D5;
    font-size: 14px;
}
#liste_filtre p{
    color: black;
    text-transform: lowercase;
}
#liste_filtre h3,strong{
    font-size: 12px;
    margin: 0;
    padding: 0;
}
/*_________________________________
****  VERSION PDF PRINT ****
----------------------------------*/
#block-print-0{width: 500px; margin: 0 auto;}
#block-print-0 a{text-decoration: none;color: #E2017B;}
#block-print-0 a:hover{}